<p>listusers works!</p>

<h3>List of Products</h3>
<div>
	<a routerLink="/listeplat">Go back</a>&nbsp;
</div>
<div *ngIf="panierL">
<table>
      <tr>
    <th>Name</th>
	<th>Sales Count</th>
	<th>Quani</th>
	<th>Actions</th>
  </tr>
  <tr *ngFor="let product of panierL">
	<td>{{product.nom_plat}}</td>
    <td>{{product.prix}}</td>
	<td>{{product.quantite}}</td>

	<td>
        <button class="btn btn-secondary" (click)="removeFromCart(product)"> x</button>
	</td>
  </tr>
</table>

<button class="btn btn-secondary" (click)="acheter()">Acheter</button>
</div>


